apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: process-hpa
  namespace: doc-processing
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: process
  minReplicas: 2
  maxReplicas: 15
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60