apiVersion: apps/v1
kind: Deployment
metadata:
  name: process
  namespace: doc-processing
spec: 
  replicas: 2
  selector:
    matchLabels:
      app: process
  template:
    metadata:
      labels:
        app: process
    spec:
      containers:
        - name: process
          image: akku001/process-service:v7
          ports:
            - containerPort: 8081
          resources:
            limits:
              cpu: "400m"
              memory: "256Mi"
            requests:
              cpu: "200m"
              memory: "128Mi"
          readinessProbe:
            httpGet:
              path: /health
              port: 8081
            initialDelaySeconds: 2
            periodSeconds: 5
          livenessProbe: 
            httpGet:
              path: /health
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10